<section id="content">
  <section class="vbox">


      <section class="hbox stretch bg-black dker">
        <!-- video and playlist // left -->
        <aside class="col-sm-7 no-padder" id="sidebar">
          <section class="vbox animated fadeInUp">

              <section class="scrollable hover">
                <%= render 'youtube/widget/now_playing_video' %>

                <%= render 'youtube/widget/playlist' %>
              </section>

          </section>
        </aside>

        <!-- search-result // middle -->
        <%= render 'youtube/widget/search_result' %>

        <!-- adsense // right -->
        <%= render 'youtube/widget/adsense' %>
        
      </section>

    

  </section><!-- vbox -->
</section>