<section class="col-sm-2 no-padder lt hidden-xs">
  <section class="vbox">
    <section class="scrollable hover">
      <div class="m-t-n-xxs">
        <div class="item pos-rlt">
          <a href="#" class="item-overlay active opacity wrapper-md font-xs">
            <span class="block h3 font-bold text-info">Find</span>
            <span class="text-muted">Search the music you like</span>
            <span class="bottom wrapper-md block">- <i class="icon-arrow-right i-lg pull-right"></i></span>
          </a>
          <a href="#">
            <img class="img-full" src="http://flatfull.com/themes/musik/images/m43.jpg" alt="...">
          </a>
        </div>
        <div class="item pos-rlt">
          <a href="#" class="item-overlay active opacity wrapper-md font-xs text-right">
            <span class="block h3 font-bold text-warning text-u-c">Listen</span>
            <span class="text-muted">Find the peace in your heart</span>
            <span class="bottom wrapper-md block"><i class="icon-arrow-right i-lg pull-left"></i> -</span>
          </a>
          <a href="#">
            <img class="img-full" src="http://flatfull.com/themes/musik/images/m43.jpg" alt="...">
          </a>
        </div>
        <div class="item pos-rlt">
          <a href="#" class="item-overlay active opacity wrapper-md font-xs">
            <span class="block h3 font-bold text-success text-u-c">Share</span>
            <span class="text-muted">Share the good songs with your loves</span>
            <span class="bottom wrapper-md block">- <i class="icon-arrow-right i-lg pull-right"></i></span>
          </a>
          <a href="#">
            <img class="img-full" src="http://flatfull.com/themes/musik/images/m43.jpg" alt="...">
          </a>
        </div>
        <div class="item pos-rlt">
          <a href="#" class="item-overlay active opacity wrapper-md font-xs text-right">
            <span class="block h3 font-bold text-white text-u-c">2014</span>
            <span class="text-muted">Find, Listen & Share</span>
            <span class="bottom wrapper-md block"><i class="icon-arrow-right i-lg pull-left"></i> -</span>
          </a>
          <a href="#">
            <img class="img-full" src="http://flatfull.com/themes/musik/images/m43.jpg" alt="...">
          </a>
        </div>
        <div class="item pos-rlt">
          <a href="#" class="item-overlay active opacity wrapper-md font-xs">
            <span class="block h3 font-bold text-danger-lter text-u-c">Top10</span>
            <span class="text-muted">Selected songs</span>
            <span class="bottom wrapper-md block">- <i class="icon-arrow-right i-lg pull-right"></i></span>
          </a>
          <a href="#">
            <img class="img-full" src="http://flatfull.com/themes/musik/images/m43.jpg" alt="...">
          </a>
        </div>
      </div>
    </section>
  </section>
</section>