<div class="m-t-n-xxs item pos-rlt">
  <div id="now-playing" class="embed-responsive embed-responsive-16by9">

<!--     <object width="640" height="360">
      <param name="movie" value="//www.youtube.com/v/ymHZ03R4Boo?hl=en_US&amp;version=3&amp;rel=0"></param>
    <param name="allowFullScreen" value="true"></param>
    <param name="allowscriptaccess" value="always"></param>
    <embed src="//www.youtube.com/v/ymHZ03R4Boo?hl=en_US&amp;version=3&amp;rel=0" type="application/x-shockwave-flash" width="640" height="360" allowscriptaccess="always" allowfullscreen="true"></embed>
    </object> -->

    <!-- <embed id="playerid" width="100%" height="100%" allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#000000" name="playerid" style="" src="http://www.youtube.com/v/ymHZ03R4Boo?apiplayerbeta&enablejsapi=1&playerapiid=normalplayer" type="application/x-shockwave-flash"> -->

    <iframe width="480" height="360" src="//www.youtube.com/embed/<%= @youtube.videos.first.unique_id %>?rel=0" frameborder="0" allowfullscreen></iframe>

  </div>
</div>