<div class="m-t-n-xxs item pos-rlt">
  <div id="now-playing" class="embed-responsive embed-responsive-16by9">
    <iframe id="now-playing-video" class="embed-responsive-item" src="https://www.youtube.com/v/<%= @youtube.videos.first.unique_id %>?version=3&f=videos&iv_load_policy=3'?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
    <!-- auto play autoplay=1& -->
  </div>
</div>