<section class="col-sm-3 no-padder bg">
  <section class="vbox">
    <section class="scrollable hover">
      <ul id="search-results" class="list-group list-group-lg no-bg auto m-b-none m-t-n-xxs">

        <div class="list-group-item clearfix">
          <!-- search form -->
          <form method="get" action="/" class="m-l-n-xs" id="video-search-form" role="search">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i class="fa fa-search"></i></button>
              </span>
              <input type="text" id="video-query" name="q" class="form-control input-sm no-border rounded" placeholder="Search songs, albums..." autocomplete="off">
            </div>
          </form>

        </div>

        <!-- search results -->
        <% @youtube.videos.each do |video| %>
          <%= content_tag :li, class: "list-group-item clearfix result-item", data: { id: video.unique_id } do %>
            <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md add-to-playlist">
              <i class="fa fa-plus-circle text "></i>
            </a>
            <a href="#" class="pull-left thumb-md m-r">
              <%= image_tag video.thumbnails[2].url, class: "playlist-video-image" %>
            </a>
            <span class="clear">
              <span class="block text-ellipsis playlist-video-title"><%= video.title.titleize %></span>
              <small class="text-muted">Add to playlist</small>
            </span>
          <% end %>
        <% end %>

      </ul>
    </section>
  </section>
</section>