<header class="bg-black lter header header-md navbar navbar-fixed-top-xs">
  <div class="navbar-header aside bg-info nav-xs">
    <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
      <i class="icon-list"></i>
    </a>
    <%= link_to root_path, class: "navbar-brand text-lt" do %>
        <i class="icon-earphones"></i>
        <img src="http://flatfull.com/themes/musik/images/a0.png" alt="." class="hide">
        <span class="hidden-nav-xs m-l-sm">Musik</span>
    <% end %>
    <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
      <i class="icon-settings"></i>
    </a>
  </div>      <ul class="nav navbar-nav hidden-xs">
    <li>
      <a href="#nav,.navbar-header" data-toggle="class:nav-xs,nav-xs" class="text-muted">
        <i class="fa fa-indent text"></i>
        <i class="fa fa-dedent text-active"></i>
      </a>
    </li>
  </ul>

  <%= render 'shared/navbar/form' %>

  <div class="navbar-right ">
    <% if user_signed_in? %>
      <%= render 'shared/navbar/navbar_member' %>
    <% else %>
      <%= render 'shared/navbar/navbar_guest' %>
    <% end %>
  </div>  

</header>