<div class="container aside-xl padder-v">
  <section class="m-b-lg">
    <header class="wrapper text-center">
      <strong>Choose a name for your Playlist.</strong>
    </header>

    <%= form_for @playlist do |f| %>
      <div class="form-group">
        <%= f.text_field :name, class: "form-control rounded input-lg text-center no-border", placeholder: "Name", autocomplete: "off", required: true %>
      </div>

      <%= button_tag type: "submit", class: "btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded" do %>
        <i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Create Playlist</span>
      <% end %>
    <% end %>

  </section>
</div>