<section id="content">
  <section class="vbox">
    <section class="scrollable wrapper">
      <section class="row">
        <section class="col-sm-offset-3 col-sm-6 col-md-6">

              <section class="panel panel-default">
                <header class="panel-heading bg-light no-border">
                  <div class="clearfix">
                    <a href="#" class="pull-left thumb-md avatar b-3x m-r">
                      <img src="images/a1.png" alt="...">
                    </a>
                    <div class="clear">
                      <div class="h3 m-t-xs m-b-xs">
                        John.Smith 
                        <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
                      </div>
                      <small class="text-muted">Art director</small>
                    </div>
                  </div>
                </header>
                <div class="list-group no-radius alt">
                  <a class="list-group-item" href="#">
                    <span class="badge bg-success">25</span>
                    <i class="fa fa-comment icon-muted"></i> 
                    Messages
                  </a>
                  <a class="list-group-item" href="#">
                    <span class="badge bg-info">16</span>
                    <i class="fa fa-envelope icon-muted"></i> 
                    Inbox
                  </a>
                  <a class="list-group-item" href="#">
                    <span class="badge bg-light">5</span>
                    <i class="fa fa-eye icon-muted"></i> 
                    Profile visits
                  </a>
                </div>
              </section>

        </section><!-- .col-xs -->
      </section><!-- .row -->
    </section>
  </section>
</section>